.container {
    margin: -10px -10px 0 -10px;
    border: 1px solid black;
    display: flex;
    
    font-size: 32px;
    padding: 20px 2px;
    background-color: blanchedalmond;
    color: #141f1f;
    position: fixed;
    top: 0;
    width: 100% 

}

.container > div {
  align-items: center;
  flex: 1;
  color: white;
  text-align: center;
  height: 60px;
  
}

.greet > img {
 width: 120px;
 height: 120px;
 margin: 0 auto 0 auto;
  
}

.greet, .logo {
  display: flex;
  align-items: center; 


}

a > img  {
  width: 80px;
  height: 80px;
  

}

div > a {
  margin: auto;
  margin-top: 10px;
}



.home, .github {
background-color: tomato;
}

.projects {
background-color: purple;
}


img {
    float:right;
    max-width: 140px;
    max-height: 140px;
    margin: -20px 6px 0 6px;   
}

.main {
    display:flex;
    justify-content: center;
    margin: 170px auto 0 auto;
    flex-flow: row wrap;
    text-align: center;
    max-width: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 3px 3px 16px cyan;
    background-color: #b1cdcd;
    padding: 5px 20px;
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;        
    padding-top: 20px;
    height: 70px;
    background-color: #283e3e;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid black;
    box-shadow: 1px 1px 250px gray;
  }
  
  html, body {
    margin-bottom: 150px;
    background-color: #83afaf;
    height: 100%;

    
  }

  h1,h2,h3, h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 36px;;
  }

  h3 {
    font-size: 32px;
  }

  hr {
    border-top: 3px solid #bbb;
  }
  